{{product.name}}
<h3>Choisir votre boutique</h3>
<form action="/product-details/{{product.id}}/choose-store/{{stores.name}}/create-order" method="POST">
  <button type="submit">{{stores.name}}</button>
</form>

<p>{{stores.address}}</p>
