<div id="order-choose-store-name">{{product.name}}</div>

<div id="order-choose-store-card">

  <div>
    <img src="{{product.imgPath}}" alt="" id="order-choose-store-img">
  </div>

  <div>
    <div id="order-choose-store-shop">Choisir votre boutique :</div>

    {{#each product.store}}

      <form action="/product-details/{{../product.id}}/choose-store/{{name}}/create-order" method="POST">
        <button type="submit" id="order-choose-store-button-store">{{name}}</button>
      </form>
      <p id="order-choose-store-store-address"> Adresse : {{address}}</p>
    
    {{/each}}

  </div>

</div>

