<h2 id="order-recap-title">{{username}} , votre essayage a bien été programmé le {{d0}} à {{t0}} au {{place}}</h2>

{{!-- {{#each updatedOrders}}
  <img src="{{product.imgPath}}" alt="">
  <p>{{store}}</p>
{{/each}} --}}

<div id="order-recap-title">Récapitulatif de la réservation :</div>

{{#each updatedOrders}}
  <div id="order-recap-image-store">
    <img src="{{product.imgPath}}" alt="" id="order-recap-image">
    <p id="order-recap-store">{{store}}</p>
  </div>
{{/each}}

<div id="order-recap-time">Heure de réservation : {{t0}}</div>
<div id="order-recap-date">Date de réservation : {{d0}}</div>

<div id="order-recap-home-and-reservation"> 
  <div id="order-recap-home"><a href="/">Retour à l'accueil</a></div>
  <div id="order-recap-my-reservation"><a href="/review">Voir mes réservation</a></div>
</div>
