<h2>{{username}} , votre essayage a bien été programmé le {{d0}} a {{t0}}</h2>


<h2>Recapitulatif de la commande</h2>

{{#each updatedOrders}}
  <img src="{{product.imgPath}}" alt="">
  <p>{{store}}</p>
{{/each}}


<div><a href="/">Retour à l'accueil</a></div>
