<h2>{{username}} , votre essayage a bien été programmé le {{d0}} à {{t0}}</h2>


<h2>Recapitulatif de la commande</h2>

{{!-- {{#each updatedOrders}}
  <img src="{{product.imgPath}}" alt="">
  <p>{{store}}</p>
{{/each}} --}}


<div><a href="/">Retour à l'accueil</a></div>

<div id="order-recap-title">Recapitulatif de la réservation</div>

{{#each updatedOrders}}
  <img src="{{product.imgPath}}" alt="">
  <p id="order-recap-store">{{store}}</p>
{{/each}}

<div id="order-recap-time">Heure de réservation : {{t0}}</div>
<div id="order-recap-date">Date de réservation : {{d0}}</div>

<div id="order-recap-home-and-reservation"> 
  <div id="order-recap-home"><a href="/">Retour à l'accueil</a></div>
  <div id="order-recap-my-reservation"><a href="/review">Voir mes réservation</a></div>
</div>
