<h3>Bienvenue {{userInfo.firstname}}</h3>

{{!-- <h3>Details de vos commandes</h3>

{{#each userOrders}}
<p>{{id}}</p>
<img src="{{product.imgPath}}" alt="">
<form action="/{{id}}/delete" method="POST">
  <button type="submit">Supprimer</button>
</form> --}}

<div id="order-review-details">Details de votre essayage : </div>

{{#each userOrders}}
<div id="order-review-form">
  <img src="{{product.imgPath}}" alt="">
  <p id="order-review-id">{{id}}</p>
  <form action="/{{id}}/delete" method="POST">
    <button type="submit" id="order-review-button-supp">Supprimer</button>
  </form>
</div>
{{/each}}

<div id="order-review-make-choice">Veuillez choisir une date et un horaire pour votre essayage :</div>

<form action="/book/orders" method="POST">
  <label>
    <display id="order-review-date">Date : </display>
    <input id="order-review-date-choice" type="date" name="date">
  </label>
  <label>
    <display id="order-review-hours">Heure :</display> 
    <input id="order-review-hours-choice" type="time" name="time">
  </label>

  <div id="order-review-reserve-choose">
    <button type="submit" id="order-review-reserve"><div>Réserver ma cabine</div></button>
</form>

    <a href="/"><div id="order-review-choose">Choisir un autre produit</div></a>
  </div>