{{#each items}}

<div id="brand-index-all">
  <a href="/brand/{{id}}/product-details" id="brand-index-a"><img id="brand-index-image" src="{{imgPath}}" alt=""></a>

  <div id="brand-index-description">
    <p id="brand-index-name">{{name}}</p>
    <span id="brand-index-sex">Sexe : {{sex}}</span>
    <p id="brand-index-price">Price : {{price}} €</p>
  </div>
</div>
{{/each}}
