
<a href="/product-details/choose-store"><h3>Essayez en cabine</h3></a>

<p>{{product.name}}<p>
<p>{{product.type}}</p>
<p>{{product.description}}</p>
<p>{{product.reference}}</p>
<p>{{product.size}}</p>
<p>{{product.sex}}</p>
<p><img src="{{product.imgPath}}" alt=""></p>
<p>{{product.brand}}</p>
<p>{{product.color}}</p>
<p>{{product.washing}}</p>
<p>{{product.price}}</p>
