<p>{{product.name}}<p>
<p>{{product.type}}</p>
<p>Reference : {{product.reference}}</p>
<p>Size :{{product.size}}</p>
<p>Sex :{{product.sex}}</p>
<p><img src="{{product.imgPath}}" alt=""></p>
<a href="/product-details/choose-store"><h3 id="try-it">Essayez en cabine</h3></a>
<p>{{product.description}}</p>
<p>{{product.brand}}</p>
<p>Color : {{product.color}}</p>
<p>Washing details : {{product.washing}}</p>
<p>Price : {{product.price}} €</p>

